<%- include("partials/header") -%>



<div class="compose-box">
  <h1>
    Compose
  </h1>

  <form class="" action="/" method="post">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="composedTitle">
      <label>Post</label>
      <textarea type="text" class="form-control" name="postText" rows="8" cols="20"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
  </form>
</div>



<%- include("partials/footer") -%>